*{
    margin: 0;
    padding: 0;
    background-color: linear-gradient(
      to top right,
      rgba(29, 38, 113, 0.75),
      rgba(255,255,255,0.8)
      rgba(195, 65, 150, 0.75)
    );
}
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to bottom right,
    rgba(29, 38, 113, 0.75),
    rgba(195, 65, 150, 0.75)
  );       /* color of the tracking area */
  background-clip: inherit;
}

body::-webkit-scrollbar-thumb {
   background-color: white;  /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

body {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange; 
  width: 100%;
  height: 100%;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/518746/art-artistic-black-background-752484-min.jpg");
    background-size: cover;
}
body::before{
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(29, 38, 113, 0.75),
    rgba(195, 65, 150, 0.75)
  );
  background-size: auto;
  z-index: -1;

}

.div-img{
  display: flex;
  align-items: center;
  justify-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
} 

.flex-5-img{
  gap: 10px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: end;
  grid-column: auto;
  
  /* grid-template-columns: repeat(1fr 1fr 1fr 1fr); */
}


@media (min-width: 600px) and (max-width: 1000px){
.flex-5-img{
  width: 80%;
}
}
@media (min-width: 390px) and (max-width: 600px){
  .flex-5-img{
    width: 80%;
    grid-template-columns: auto auto auto ;
  }
}
@media (min-width: 250px) and (max-width: 390px){
  .flex-5-img{
    width: 80%;
    grid-template-columns: auto auto  ;
  }
}
@media (min-width: 0px) and (max-width: 250px){
  .flex-5-img{
    width: 80%;
    grid-template-columns: auto  ;
    justify-content: center;
  }
}

.profile-img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 5px white;
}
.profile-img:hover{
  transform: scale(1.1);
  transition: 250ms ease-in-out;
}

.main-img-container{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  

}

.main-img{
  box-shadow: 1px 3px 10px white;
  z-index: 10;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.main-img:hover{
  height: 700px;
  width: 800px;
  object-fit: cover;
  border-radius: 0;
  position: absolute;
  top:10%;
  margin-top: 20px;
  z-index: 10;
}

@media (min-width: 550px) and (max-width: 800px){
  .main-img:hover{
    width: 500px;
    height: 600px;
  }
}
@media (min-width: 400px) and (max-width: 550px){
  .main-img:hover{
    width: 350px;
    height: 450px;
  }
}
@media (min-width: 0px) and (max-width: 400px){
  .main-img{
    pointer-events: none;
  }
}

.heading{
  border: 3px solid white;
  font-size: 60px;
  width: max-content;
  padding: 5px 15px;
  margin-inline: auto;
  color: white;
  text-shadow: 3px 3px 3px white;
  text-align: center;
  text-decoration-style: double;
  margin-top: 20px;
  z-index: 20;
}

.btn{
  /* animation: pulse infinite  ease-in-out alternate; */
  margin:  auto;
  margin-block: 40px;
  background: rgb(56, 126, 255,0.6);
  border-radius: 20px;
  border: 4px solid #387eff;
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  justify-content: center;
}

/* @keyframes pulse {
  from {
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
} */
